.background {
  margin: 0;
  padding: 0;
  border: 0;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  background-image: url("../images/background.png");
  background-size: 100%;
  position: relative;
}

.main {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controlPanel {
  margin: 0;
  padding: 0;
  border: 0;
  height: 70%;
  width: 80%;
  overflow: hidden;
  background-color: white;
  background-size: 100%;
  box-shadow: 5px 5px 8px 5px #999898;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.actualImage {
  max-width:85%;
  overflow: hidden;
}

.arrowLeft {
  margin-left: 1%;
}

.arrowRight {
  margin-right: 1%;
}

.imageStore {
  width: 50%;
  height: 10.028%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.smallImageBox {
  width: 12%;
  height: 100%;
  margin-top: 5%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0px 20px 10px -10px #999898;
}

.selectedSmallImageBox {
  width: 12%;
  height: 100%;
  margin-top: 10%;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0px 20px 1px -10px #999898;
  position: relative;
  align-self: center;
}

.selectedSmallImageBox:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}

.smallImage {
  max-height: 100%;
  overflow: hidden;
  align-self: center;
}

.textBlock {
  background-color: rgba(0, 0, 0, 0.623);
  align-self: flex-end;
  width: 68%;
  height: fit-content;
  text-align: left;
  position: absolute;
}

.actualTitle {
  color: white;
  padding-left: 2%;
  font-size: 90%;
}

.actualDescript {
  color: #999898;
  padding-left: 2%;
  font-size: 80%;
}