body {
  margin: 0px;
}

header {
  background-color: rgb(196, 4, 196);
  width: 100%;
  position: fixed;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
}

li {
  list-style: none;
  background-color: rgb(0, 217, 255);
  height: 35px;
  width: 100px;
  margin: 10px;
}

.container {
  display: flex;
  height: 800px;
  margin: 0px 50px 10px 50px;
}

main {
  background-color: rgb(255, 208, 0);
  margin-right: 5px;
  margin-top: 100px;
  flex-grow: 2;
}

aside {
  background-color: rgb(17, 230, 9);
  margin-left: 5px;
  margin-top: 100px;
  flex-grow: 1;
}

footer {
  background-color: rgb(113, 116, 113);
  width: auto;
  height: 100px;
  margin: 0px 50px 50px 50px;
}