* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: sans-serif;
  text-align: left;
}

div {
  background-color: rgb(71, 151, 255);
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  background-color: rgb(180, 179, 179);
  width: 800px;
  height: 510px;
  border-collapse: collapse;
  border-style: hidden;
  border-radius: 5px;
}

thead {
  background-color: black;
  border-bottom: 4px rgb(161, 161, 161) solid;
}

th {
  height: 45px;
  padding: 25px;
  font-weight: normal;
  font-size: 30px;
  color: rgb(185, 185, 185);
  border: 1px solid rgb(119, 119, 119);
}

thead tr th:nth-child(1) {
  border-radius: 5px 0 0 0;
}

thead tr th:nth-child(2) {
  border-radius: 0 5px 0 0;
}

td {
  padding: 25px;
  font-size: 25px;
  color: rgb(102, 101, 101);
  border: 1px solid rgb(119, 119, 119);
}

td[data-currency='$']::before {
  content: "$ ";
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody tr:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}

tbody tr:nth-last-child(1) td:nth-child(2) {
  border-radius: 0 0 5px 0;
}
tbody tr:nth-last-child(1) td:nth-child(1) {
  border-radius: 0 0 0 5px;
}