body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.tophead {
  padding-left: 15%;
  padding-right: 15%;
  border: 2px #000 solid;
  font-size: 25px;
  font-weight: normal;
  background-color: #696969;
  height: 50px;
  line-height: 50px;
}

body main {
  padding-left: 15%;
  padding-right: 15%;
}

.midhead {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 18px;
  font-weight: normal;
}

.inputname {
  font-size: 14px;
  font-weight: bold;
}

.input1 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.input1 input {
  color: #929292;
  width: 200px;
}

.input2 input {
  width: 100%;
  height: 150px;
}

.input2 {
  padding-top: 7px;
  padding-bottom: 7px;
}

#submit {
  width: 100px;
  height: 25px;
  font-size: 16px;
  border-radius: 5px;
}

article {
  padding: 3px;
  border: 1px #000 solid;
}

h2 {
  font-weight: normal;
  margin: 0px;
}

p {
  font-size: 14px;
  margin: 0px;
  padding: 5px;
}
