body {
  background-image: url('assets/background.png');
  background-position: center;
  background-repeat: repeat;
}

header {
  background-color: #333;
  position: relative;
  height: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

header img {
  position: absolute;
  top: 10px;
}

nav {
  height: 50px;
  position: absolute;
  right: 10%;
}

nav ul {
  list-style: none;
}
nav li {
  float: left;
  text-align: center;
}
nav a {
  color: #ff0099;
  padding: 20px;
}

section {
  padding: 10%;
  padding-bottom: 0%;
  font: normal 20px 'consolas';
  line-height: 30px;
}

section h1 {
  font: bold 55px 'consolas';
  margin-top: 0px;
}

section h2 {
  font: normal 30px 'consolas';
  color: #ff0099;
}

section p:last-child {
  text-align: center;
}

article {
  padding: 10%;
  padding-top: 0%;
  font: normal 16px 'consolas';
  line-height: 30px;
}

article h1 {
  font: bold 40px 'consolas';
  text-align: center;
}

article h2 {
  font: bold 30px 'consolas';
}
