* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100%;
  min-width: 400px;
}

nav {
  height: 40vh;
  min-height: 150px;
  background-image: url(./images/banner.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(221, 221, 221);
  display: flex;
}

#spaceHeader {
  margin: auto;
  align-self: center;
  font-size: 3.5vw;
  font-weight: normal;
  letter-spacing: 0.8em;
}

img {
  width: 80px;
  margin: 11vh 6vh;
  position: absolute;
}

#container {
  height: fit-content;
  background-color: rgb(221, 221, 221);
  display: flex;
}

main {
  width: 100%;
  height: fit-content;
  margin: 25px 7.5px 15px 15px;
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
}

.postBlock {
  display: flex;
  flex-direction: row;
  margin: 1px;
  padding: 10px 10px 10px 0;
  background-color: rgb(255, 255, 255);
}

.voteBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.up.Arrow {
  background-image: url(./images/upvote.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.postScore {
  margin: 5px;
  text-align: center;
  color: rgb(221, 221, 221);
  font-family: sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.down.Arrow {
  background-image: url(./images/downvote.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.descriptBlock {
  padding-left: 5px;
}

.postTitle {
  padding: 0 0 5px 0;
  font-size: 20px;
  color: rgb(68, 68, 68);
  font-weight: bold;
}

.postTimestamp {
  padding: 5px 0 5px 0;
  font-size: 13px;
  color: rgb(141, 141, 141);
  font-weight: bold;
}

.postModifyLink {
  display: inline-block;
  padding: 5px 5px 0 0;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 0.2em;
  color: rgba(12, 148, 0, 0.473);
  font-weight: bold;
}

.postRemoveLink {
  display: inline-block;
  padding: 5px 0 0 5px;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 0.2em;
  color: rgba(194, 2, 2, 0.534);
  font-weight: bold;
}

aside {
  width: 450px;
  height: fit-content;
  margin: 25px 15px 15px 7.5px;
  background-color: rgb(221, 221, 221);
}

#newPost {
  background-color: rgb(62, 141, 214);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
}

#about {
  margin-top: 15px;
  background-color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#aboutTop {
  margin: 15px;
}

#aboutHeader {
  font-size: 15px;
  font-family: sans-serif;
  display: inline-block;
}

#aboutLink {
  font-family: sans-serif;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  color: rgb(62, 141, 214);
}

#aboutBottom {
  display: flex;
  flex-direction: column;
}

#aboutParagraph {
  margin-top: 20px;
  font-size: 14px;
  align-self: center;
}

#aboutList {
  margin: 20px 40px;
}

/* Add new post HTML elements */

#submitPost {
  background-color: rgb(221, 221, 221);
  width: 475px;
  display: flex;
  flex-direction: column;
}

#inputFields {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#redStar {
  color: red;
  display: inline-block;
}

label {
  font-family: sans-serif;
  font-weight: bold;
}

input {
  height: 30px;
  border-style: none;
  background-color: rgb(238, 238, 238);
  margin-bottom: 10px;
}

/*
span {
  min-height: 30px;
  max-height: fit-content;
  border-style: none;
  background-color: rgb(238, 238, 238);
  margin-bottom: 10px;
}
*/

button {
  background-color: rgb(62, 141, 214);
  color: white;
  font-weight: bold;
  height: 40px;
  width: 237.5px;
  border-style: none;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  #container {
    flex-direction: column-reverse;
  }

  main {
    width: 95%;
    margin: 15px auto;
  }

  aside {
    width: 95%;
    margin: 15px auto;
  }

  .postBlock {
    display: flex;
    flex-direction: column-reverse;
  }

  .voteBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
  }

  .upArrow {
    margin-right: 5px;
  }
  
  .downArrow {
    margin-left: 5px;
  }

  #submitPost {
    width: 100%;
  }
}