.container {
  background-color: rgb(255, 208, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 300px;
  margin: 0px;
  padding: 0px;
}

.item {
  display: block;
  background-color: rgb(196, 4, 196);
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
