* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

body, html {
  width: 100%;
}

.container {
  display: grid;
  background-color: rgb(223, 97, 223);
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 120px;
}

.left {
  background-color: rgb(255, 238, 0);
  margin: 5px 2.5px 5px 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}

.right {
  background-color: rgb(255, 238, 0);
  margin: 5px 5px 5px 2.5px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}

.middle {
  background-color: rgb(23, 219, 23);
  margin: 5px 2.5px 5px 2.5px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}

