.container {
  background-color: rgb(255, 208, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  margin: 0px;
  padding: 0px;
}

.item {
  display: block;
  background-color: rgb(196, 4, 196);
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
